<div
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutWrap
  fxLayoutGap="16px"
  fxLayoutAlign="center"
  style="width: 100%"
>
  <div fxFlex="30%" class="left-room">

    <!-- Hiển thị tên phòng vào nút thoát -->
    <mat-list>
      <div mat-subheader>
        <div
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutWrap
        fxLayoutGap="16px"
        fxLayoutAlign="center"
        style="width: 100%;"
      >
        <div fxFlex style="line-height: 40px;color: #3f3d56;"> Phòng 01 </div>
        <div fxFlex="40px">
          <button mat-icon-button style="color: #3f3d56;">
            <mat-icon>exit_to_app</mat-icon>
          </button>
        </div>
      </div>
      </div>

      <!-- Hiển thị thông tin bản thân vs đối thủ -->
        <mat-list-item>
          <img mat-list-icon src="assets/icon/Creative-Tail-Animal-bat.svg" class="icon-style"/>
          <div mat-line><label class="title">LuanLee</label></div>
          <div mat-line>100</div>
        </mat-list-item>
          <p style="text-align: center;font-weight: 700;">VS</p>
        <mat-list-item>
          <img mat-list-icon src="assets/icon/Creative-Tail-Animal-bat.svg" class="icon-style"/>
          <div mat-line><label class="title">LuanLee</label></div>
          <div mat-line>100</div>
        </mat-list-item>

    </mat-list>
    <mat-divider ></mat-divider>

    <!-- Màn hình chat  -->
    <div class="chat-block">
      <div class="display-message">
        <!-- Tin nhắn của đối thủ -->
            <div
              fxLayout="row"
              fxLayoutWrap
              fxLayoutGap="10px"
              fxLayoutAlign="center"
              style="width: 100%;"
              class="item-message"
            >
              <div fxFlex="32px" style="position: relative;">
                <img src="assets/icon/Creative-Tail-Animal-bat.svg" class="icon-size">
              </div>
              <div fxFlex class="message">
                Tin nhắn của đối thủ !
              </div>
              <div fxFlex="32px"></div>
            </div>

            <!-- Tin nhắn của mình -->
            <div
              fxLayout="row"
              fxLayoutWrap
              fxLayoutGap="10px"
              fxLayoutAlign="center"
              style="width: 100%;"
              class="item-message"
            >
              <div fxFlex="32px"></div>
              <div fxFlex class="message">
                Tin nhắn của mình !
              </div>
              <div fxFlex="32px" style="position: relative;">
                <img src="assets/icon/Creative-Tail-Animal-bat.svg" class="icon-size">
              </div>
            </div>
      </div>

      <!-- Ô nhập tin nhắn chat -->
      <div class="input-message">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Chat...!">
        </mat-form-field>
      </div>
    </div>

  </div>

  <mat-divider [vertical]="true"></mat-divider>

    <!-- Màn hình trận đấu -->
  <div fxFlex="65%" class="right-room">
    <mat-list>
      <div mat-subheader>TRẬN ĐẤU</div>
    </mat-list>

    <div style="height: calc(100vh - 185px); background-color:lightblue;">

    </div>

    <mat-divider></mat-divider>

    <div style="height: 60px; width: 100%">
      <button mat-flat-button class="btn-create-room">...</button>
    </div>
  </div>
</div>
